#!/bin/ash

while [ 1 = 1 ]; do
  # TODO: REMOVE BUILD @ RUNTIME
	echo " > Hit ENTER!"
	read
	clear
	echo " > Building..."
  cd /app/modules/core
  go get -d ./... && \
  go build -ldflags "-s -w" src/state.go && \
	/app/modules/core/state

	echo " > Service stopped, restarting in 5 seconds..."
  # TODO: RESTORE SLEEP!
	# sleep 5s
done
