<nb-card>
  <nb-card-body>
    <div class="modulesAddButtonContainer">
      <input type="text" [(ngModel)]="newModuleName" nbInput placeholder="New Module Name">
      <button (click)="addModule()" nbButton status="success">Add Module</button>
    </div>

    <nb-accordion>
      <nb-accordion-item *ngFor="let module of modules">
        <nb-accordion-item-header (click)="loadModule(module.name)">
          <span class="moduleImage" [ngStyle]="{'background-image': 'url(/img/device/'+module.image+')'}"></span>
          <span>{{module.name}}</span>
        </nb-accordion-item-header>
        <nb-accordion-item-body *ngIf="selectedModule">
          <nb-tabset>
            <nb-tab tabTitle="Incoming">
              <textarea class="moduleTextarea" [(ngModel)]="selectedModule.Incoming" nbInput fullWidth placeholder="Textarea">{{selectedModule.Incoming}}</textarea>
            </nb-tab>
            <nb-tab tabTitle="Functions">
              <textarea class="moduleTextarea" [(ngModel)]="selectedModule.Functions" nbInput fullWidth placeholder="Textarea">{{selectedModule.Functions}}</textarea>
            </nb-tab>
            <nb-tab tabTitle="Cron">
              <textarea class="moduleTextarea" [(ngModel)]="selectedModule.Cron" nbInput fullWidth placeholder="Textarea">{{selectedModule.Cron}}</textarea>
            </nb-tab>
            <nb-tab tabTitle="Properties">
              <textarea class="moduleTextarea" [(ngModel)]="selectedModule.Properties" nbInput fullWidth placeholder="Textarea">{{selectedModule.Properties}}</textarea>
            </nb-tab>
            <nb-tab tabTitle="GUI">
              <textarea class="moduleTextarea" [(ngModel)]="selectedModule.GUI" nbInput fullWidth placeholder="Textarea">{{selectedModule.GUI}}</textarea>
            </nb-tab>
          </nb-tabset>
          <div class="moduleButtonContainer">
            <button (click)="saveModule(module.name)" nbButton status="info">Save</button>
            <button (click)="deleteModule(module.name)" nbButton status="danger">Delete</button>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>
