<nb-layout>

  <nb-layout-header fixed class="navigationHeader">
    <nb-icon icon="menu" (click)="toggleCollapsed()" *ngIf="windowWidth < minWidth" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
    <span class="title">Smart Home</span>
    <nb-icon icon="home"></nb-icon>
    <button nbButton (click)="logout()" status="info">Logout</button>
  </nb-layout-header>

  <nb-sidebar [state]="sidebarState">
    <nb-menu [items]="menu" (click)="collapse()">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column (click)="collapse()">

    <!--The content below is only a placeholder and can be replaced.-->
    
    <router-outlet></router-outlet>
    
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
