.screen.main {
  color: #FFF;
  /*background-color: #000!important;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/res/img/screen/main/background/clear_n_portrait.jpg');
}
