<nb-card>
  <nb-list>
    <nb-list-item *ngFor="let device of devices">
      <div class="listContainer">
        <div class="listImage" [ngStyle]="{'background-image': 'url(/img/device/'+device.image+')'}"></div>
        <div class="listNameContainer">
          <span>{{device.name}}</span>
          <span *ngIf="device.batteryImage" class="listBatteryImage" [ngStyle]="{'background-image': 'url(/img/battery/'+device.batteryImage+')'}"></span>
        </div>
        <div *ngIf="device.type == 'sensor'" class="listParamsContainer">
          <div class="listParam" *ngFor="let param of device.params">
            <span>{{param.name}}: {{param.value}}</span>
          </div>
        </div>
        <div *ngIf="device.type == 'toggle'" class="listFunctionContainer">
          <ui-switch [disabled]="device.disabled" [checked]="device.status" [(ngModel)]="device.status" (change)="toggleFunction(device.function)"></ui-switch>
        </div>
        <div *ngIf="device.type == 'slider'" class="listFunctionContainer">
          <mv-slider [enabled]="!device.disabled" [(value)]="device.status" [min]="0" [max]="100" [enabled]="enabled" [tooltip]="'hide'" (change)="changingSlider()" (slideStop)="sliderChange(device.function, device.status)"></mv-slider>
        </div>
        <div class="listFunctionContainer" >

        </div>
      </div>
    </nb-list-item>
  </nb-list>
</nb-card>
