@import 'themes';

@import '~@nebular/theme/styles/globals';
@import '~ngx-ui-switch/ui-switch.component.scss';

@include nb-install() {
  @include nb-theme-global();
};

.navigationHeader {
  nav{
    justify-content: space-between!important;
  }
}

.conditionsDivContainer {
  .conditionSelect {
    .select-button {
      min-width: auto !important;
      width: 80px !important;
    }
  }
}

