<nb-card>
  <div class="reset-container">
    <div class="form-reset">
      <h1>Reset Password</h1>
      <div>
        <input [(ngModel)]="currentPassword" type="password" nbInput placeholder="Current Password">
      </div>
      <div>
        <input [(ngModel)]="password" type="password" nbInput placeholder="New Password">
      </div>
      <div>
        <input [(ngModel)]="newPassword" type="password" nbInput placeholder="New Password Again">
      </div>
      <div class="resetButtonContainer">
        <button nbButton status="info" (click)="resetPassword()">Reset</button>
      </div>

    </div>
  </div>
</nb-card>


