@import '../dashboard/dashboard.component';
.deviceImage{
  width: $bg-size;
  height: $bg-size;
  background-repeat: no-repeat;
  background-size: $bg-size $bg-size;
  margin-right: 10px;
}
.deviceTextarea{
  height: 500px;
}
.deviceButtonContainer{
  display: flex;
  justify-content: center;
  button{
    margin: 5px;
  }
}
.devicesAddButtonContainer{
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  button{
    margin-left: 10px;
  }
}
.moduleName{
  margin-right: 10px;
}

.propertiesDiv {
  padding: 10px;
  display: flex;
  justify-content: center;
  .nameDivContainer{
    min-width: 100px;
  }
}
