.screen.main {
  color: #FFF;
}
.mainContainer>.overviewContainer>.screen.main>.titleContainer .prevButton,
.mainContainer>.overviewContainer>.screen.main>.titleContainer .nextButton {
  /*color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .54);*/
  opacity: 0;
}
.screen.main .weatherSummaryBackground {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
.screen.main .weatherSummary {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 0px 0px 0.5em #000, 1px 1px 1px rgba(0, 0, 0, .54);
  padding-left: 2rem;
}
.screen.main .weatherSummary>div,
.screen.main .weatherSummary>div>div {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
}
.screen.main .weatherSummary .textLine {
  text-transform: capitalize;
}
.screen.main .weatherSummary .minMaxLine {
  margin-top: 1rem;
  margin-bottom: -1rem;
}
.screen.main .weatherSummary .textLine .icon,
.screen.main .weatherSummary .minMaxLine .icon {
  min-width: 1em;
  margin-right: 0.5em;
}
.screen.main .weatherSummary .minMaxLine i {
  font-size: .8em;
}
.screen.main .weatherSummary .minMaxLine .min {
  margin-left: 1em;
}
.screen.main .weatherSummary .bigTemp {
  font-size: 8rem;
  font-weight: 400;
  text-shadow: 0px 0px 1em #000, 1px 1px 1px rgba(0, 0, 0, .54);
}
.weatherIcons {
  position: absolute;
  background: #000;
  color: #FFF;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.weatherIcons i {
  margin-right: 1em;
}
.screen.main .changeImageButton {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  opacity: .25;
  z-index: 9999;
  color: #FFF;
}
.screen.main.day .changeImageButton {
  color: #000;
}
.screen.main .changeImageButton>i {
  font-size: 2rem;
}
