.mainContainer>.overviewContainer>.screen.nowplaying>.titleContainer {
  display: none;
}
.mainContainer>.overviewContainer>.screen.nowplaying>.backgroundImage {
  filter: blur(20px);
  -webkit-filter: blur(20px);
}
.screen.nowplaying {
  color: #FFF;
}
.screen.nowplaying .backgroundDimmer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, .75);
  z-index: 1;
}
.darkMode .screen.nowplaying .backgroundDimmer {
  background: rgba(0, 0, 0, 1);
}
.screen.nowplaying .cover {
  height: 60vh;
  width: 60vh;
  text-align: center;
  z-index: 10;
  margin: 0 auto;
  position: relative;
}
.screen.nowplaying .cover>div {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.screen.nowplaying .cover .shadow {
  z-index: 3;
  box-shadow: 0px 0px 50px black;
}
.screen.nowplaying .cover .record {
  top: 1%;
  z-index: 5;
  transition: left 500ms ease-in-out;
}
.screen.nowplaying.playing.turntable .cover .record {
  left: 25%;
}
.screen.nowplaying .cover img {
  width: 100%;
  height: 100%;
  border: 1px solid #222;
}
.screen.nowplaying .cover .image img {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.screen.nowplaying .cover .image.show img {
  opacity: 1;
}
.screen.nowplaying .cover .record img {
  width: 98%;
  height: 98%;
  box-shadow: 0 0 10px black;
  border-radius: 50%;
}
.screen.nowplaying .title,
.screen.nowplaying .artist {
  font-weight: bold;
  text-shadow: 0px 0px 0.5em #000, 1px 1px 1px #000;
  z-index: 10;
  position: relative;
  width: 100%;
  text-align: center;
}
.screen.nowplaying .title {
  font-size: 3em;
  margin-top: 0.75em;
}
.screen.nowplaying .artist {
  font-size: 2em;
  margin-top: 0.5em;
}
.screen.nowplaying .title>div,
.screen.nowplaying .artist>div {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.screen.nowplaying .title>div.show,
.screen.nowplaying .artist>div.show {
  opacity: 1;
}
/*
.screen.nowplaying .flip-hide,
.screen.nowplaying .flip-show {
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
}
.screen.nowplaying .flip-hide {
  animation-name: flip-hide;
}
.screen.nowplaying .flip-show {
  animation-name: flip-show;
}
@keyframes flip-hide {
  0% {
    transform: perspective(100vh) rotateY(0);
    opacity: 1;
  }
  100% {
    transform: perspective(75vh) rotateY(90deg);
    opacity: 0;
  }
}
@keyframes flip-show {
  0% {
    transform: perspective(75vh) rotateY(-90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(100vh) rotateY(0);
    opacity: 1;
  }
}*/