#!/bin/ash

while [ 1 = 1 ]; do
  if [ "$APP_ENV" == "dev" ]; then
    clear

    echo " > Building..."
    cd /app/modules/core
    go get -d ./... && \
    go build -ldflags "-s -w" src/functions.go && \
      /app/modules/core/functions

    echo " > Hit ENTER!"
    read
  else
    /app/modules/core/functions

    echo " > Service stopped, restarting in 5 seconds..."
    sleep 5s
  fi
done
