Options +FollowSymLinks
RewriteEngine On

RewriteBase /

# Handle WebUI
RewriteRule ^webui/(.*)/(.*)$ webUI.php?controller=$1&$2 [NC,L]
RewriteRule ^webui/(.*)$ webUI.php?controller=$1 [NC,L]

# Handle webhooks
RewriteRule ^webhook$ incomingWebhooks.php [NC,L]

# TO BE REMOVED
RewriteRule ^dashboard$ dashboard.php [NC,L]
RewriteRule ^dashboard-dev$ dashboardDev.php [NC,L]
RewriteRule ^config$ config.php [NC,L]
RewriteRule ^status$ status.php [NC,L]
RewriteRule ^clear_db$ clear_db.php [NC,L]
